body       { 
  margin:0; 
  background:#300924; 
  font:16px/1.4 "Fira Mono", monospace; 
}
#term { 
  background:#300924;
  white-space:pre-wrap;
  padding:1rem;
  font:16px/1.4 "Fira Mono", monospace;
  font-weight: 600;
}
.cursor    { 
  display:inline-block; 
  width:8px; 
  animation:blink 1s steps(1) infinite; 
}
@keyframes blink { 
  50% { 
    background:transparent; 
  } 
}
